

.meetVideoContainer {
  position: relative;
  height: 100vh;
  overflow: clip;
  background: linear-gradient(
    90deg,
    rgba(1, 4, 48, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 20vh;
  width: auto;
  left: 0;
  border-radius: 20px;
  transform: scaleX(-1);
  z-index: 9999;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;

  padding: 10px;
  gap: 10px;
}

.conferenceView video {
  width: 100vw;
  height: 85vh;
  min-width: 30vw;
  border-radius: 10px;
  transform: scaleX(-1);
  /* z-index: -9999; */
}

.chatRoom {
  position: absolute;
  height: 100vh;
  right: 0;
  background: white;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
  overflow: auto;
  z-index: 9999;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

